body{
    /* border: solid purple; */
    margin: 0;
}

.header{
    /* border: solid red; */
    /* overflow: "hidden"; */
    /* height: 100%; */
    float: left;
    width: 100%;
    background-color: #101010;
}


.logo-container{
    /* background-color: #101010; */
    color: white;
    padding-left: 20px;
}

.navigation{
    float: right;
    height: 100%;
    padding-right: 20px;
}
 
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    /* background-color: #101010; */
    text-decoration: none;
}
 
.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}
 
.navigation a:hover{
    background-color: gray;
    color: #101010;
}

/* .footer-content{
    background-color: #101010;
    color: white;
    height: 100%;
} */

.content{
    /* border: solid purple; */
    /* margin: 20px; */
    padding: 20px;
    display: block;
    float: left;
    /* width: 100%; */
    width: auto;
    /* text-align: center; */
}

.img-left{
    float: left; 
    display: block;
    width: 40%;
    /* margin: 10px; */
}

.text-block{
    padding: 20px;
    float: left;
    display: block;
    width: 40%;
    font-size: 125%;
    /* width: auto; */
}

 /* div .text-block{
    display: block;
    float: left;
    width: 100%;
    border: solid navy;
}  */

.row-elem{
    /* display: block; */
    float: left;
    width: 100%;
    /* position: relative; */
    /* border: solid navy; */
    /* margin: 10px; */
    margin-bottom: 15px;
    /* text-align: center; */
}

.footer-wrapper{
    height: 40px;
    float: left;
    width: 100%;
}

footer{
    background-color: #101010;
    color: white;
    /* padding-left: 20px; */
    /* margin-top: 30px; */

    position: fixed;
    left:0px;
    bottom:0px;
    /* height:30px; */
    width:100%;
 }